*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
}

#navbar{
    background-color: #2f2626;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

ul{
    display: flex;
    justify-content: center;
    

}

li{
    list-style: none;
    padding: 1rem;
}

a{
    text-decoration: none;
    color: white;
}

li a:hover{
    color: aquamarine;
}


@media (max-width: 75em) {
    html {
      font-size: 60%;
      text-align: center;
    }
  }
  
  /* 980px / 16px = 61.25em */
  @media (max-width: 61.25em) {
    html {
      font-size: 58%;
      text-align: center;
    }
  }
  
  /* 460px / 16px = 28.75em */
  @media (max-width: 28.75em) {
    html {
      font-size: 55%;
      text-align: center;
    }
  }
