*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
}

#navbar{
    background-color: #2f2626;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

ul{
    display: flex;
    justify-content: center;
    

}

li{
    list-style: none;
    padding: 1rem;
}

a{
    text-decoration: none;
    color: white;
}

li a:hover{
    color: aquamarine;
}


@media (max-width: 75em) {
    html {
      font-size: 60%;
      text-align: center;
    }
  }
  
  /* 980px / 16px = 61.25em */
  @media (max-width: 61.25em) {
    html {
      font-size: 58%;
      text-align: center;
    }
  }
  
  /* 460px / 16px = 28.75em */
  @media (max-width: 28.75em) {
    html {
      font-size: 55%;
      text-align: center;
    }
  }

  #welcome-section {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    width:100%;
    height:100vh;
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
  }

  h1, h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    text-align: center;
  }

  h1 {
    font-size: 6rem;
  }

  #welcome-section p {
    font-size: 3rem;
    font-weight: 200;
    font-style: italic;
    text-align: center;
    padding:0.5rem
  }

  img {
    display: block;
    width: 100%;
  }

  
#projects{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 4rem;
    width: 100%;
    margin: 0rem auto;
    max-width: 1280px;
    margin-bottom: 6rem;
}

#projects a{
  background: rgb(89, 115, 163);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 2px;
}

.project-tile{
  font-size: 2rem;
  text-align: center;
  padding: 1rem 0.5rem;
  font-weight: 200;
  color: black;
}

h2{
    max-width: 640px;
    padding: 1rem;
    margin: 0 auto 4rem auto;
    border-bottom: 0.2rem solid black;
}

  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 5rem;
    background-color: #2f2626;
    color: white;
    font-size: 1.5rem;
    font-weight: 200;
    padding: 1rem;
  }

  footer a {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    margin: 2rem;
    color: cornflowerblue;
    text-decoration: none;
  }

  footer a:hover {
    color: aquamarine;
  }
